@font-face{
    font-family: 'Montserrat';
    src: local('Montserrat');
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

body {
    margin: 0;
    font-family: Montserrat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffffff;
    height: 80px; /* высота верхней полоски */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 115px;
    position: absolute;
    left: 120px;
    margin-top: -40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 90px; /* отступы между элементами */
}

nav a {
    text-decoration: none;
    color: #33cb38;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #45a049;
    color: #ffffff;
}

.banner {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
  }

  .slider.active {
    opacity: 1;
    z-index: 1;
  }
  
  .slider :first-child {
    opacity: 1;
  }

/*кнопка корзины в верхней панели*/
.cart-button {
    position: relative;
    left: 120px;
}

.cart-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.cart-button img {
    width: 40px;
    height: 40px;
}

#cart-count {
    background-color: #17af09;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
}
/*кнопка корзины в верхней панели*/

footer {
    background-color: #dddddd;
    padding: 60px;
    font-family: 'Montserrat';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.footer-links {
    display: flex;
    gap: 55px;
    margin-left: 300px;
}
  
.footer-links a {
    text-decoration: none;
    color: #272727;
}
  
.footer-icons {
    display: flex;
}
  
.footer-icons a img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.name-firm {
    color: #e03030;
    font-weight: bold;
}

.name-city {
    color: #1f52d3;
    font-weight: bold;  
}

.name-prod {
    color: #1eae17;
    font-weight: bold;
}

.info {
    margin-left: 100px;
    margin-right: 100px;
}

.info-text {
    font-size: 18px;
}

.info-text p {
    text-indent: 20px;
}

.info-container h1 {
    text-align: center;
}


.info-prefer h2 {
    text-align: center;
}

.info-prefer {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
}

.info-prefer ul li {
    margin-left: 95px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
}

.main-map {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-block {
    display: flex;
    justify-content: center;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    max-width: 1300px; 
  }
  
.card-item {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
  
.card-header h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color: #10006a;
}

.information p {
    margin: 20px 30px;
    font-size: 18px;
}

.success-block {
    padding: 20px;
    background-color: #f7f7f7;
    border-top: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
}
  
.success-block h1 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
}
  
.success-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
  
.success-item {
    width: 300px;
    height: 180px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.success-content {
    font-size: 17px;
    color: #393939;
}
  
.success-content h4 {
    font-size: 21px;
    margin-bottom: 5px;
    margin-top: 10px;
}
  

