@font-face{
    font-family: 'Montserrat';
    src: local('Montserrat');
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

body {
    margin: 0;
    font-family: Montserrat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffffff;
    height: 80px; /* высота верхней полоски */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 115px;
    position: absolute;
    left: 120px;
    margin-top: -40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 90px; /* отступы между элементами */
}

nav a {
    text-decoration: none;
    color: #33cb38;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #45a049;
    color: #ffffff;
}

.cart-button {
    position: relative;
    left: 120px;
}

.cart-button img {
    width: 40px;
    height: 40px;
}

.cart-button {
    position: relative;
    left: 120px;
  }
  
  .cart-button img {
    width: 40px;
    height: 40px;
    visibility: collapse;
  }

.banner {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.slider.active {
    opacity: 1;
    z-index: 1;
}
  
.slider :first-child {
    opacity: 1;
}

#cart-items {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.width_cart {
    margin-left: 10%;
    margin-right: 10%;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.cart-item-price {
    margin-bottom: 5px
}

.cart-item-quantity {
    margin-bottom: 5px;
}

.cart-item-quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cart-item-total {
    font-weight: bold;
}

.cart_total {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
    font-size: 18px;
}

.remove-btn {
    position: absolute;
    right: 30px;
    background-color: #03b900;
    color: #fff;
    border: none;
    padding: 5px 10px; 
    border-radius: 4px;
    cursor: pointer;
}

.button-order{
    text-align: right;
    margin-right: 165px;
}

.cart-order {
    background-color: #26b12b;
    border-radius: 15px;
    color: #fff;
    border: none;
    margin-top: 25px;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-add:hover {
    border: 1px solid #2a9e2a;
    background-color: #158e15;
    color: #fff;
}

footer {
    margin-top: 20px;
    background-color: #dddddd;
    padding: 60px;
    font-family: 'Montserrat';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer-links {
    display: flex;
    gap: 55px;
    margin-left: 300px;
}
  
.footer-links a {
    text-decoration: none;
    color: #272727;
}
  
.footer-icons {
    display: flex;
    
}
  
.footer-icons a img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}
